# requirements.txt: Core dependencies required to run the application in production or any environment.
alembic~=1.16.5
cachetools~=6.2.0
fastapi~=0.116.1
jinja2~=3.1.6
pydantic-settings~=2.10.1
rapidfuzz~=3.14.1
sqlmodel~=0.0.24
uvicorn~=0.35.0
